.order-ride-container {
  display: flex;
  height: calc(100vh - 64px);
  background-color: #CBDCEB;
}

.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header-section {
  background-color: #8FABD4;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #000;
  margin: 0;
}

.form-content {
  flex: 1;
  background-color: #8FABD4;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.ride-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input {
  width: 90%;
  padding: 15px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: #E8EEF5;
  text-align: center;
  align-self: center;
}

.form-input::placeholder {
  color: #A0B3C8;
  font-size: 1.6rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 3%
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  color: #1E4A7F;
  cursor: pointer;
  font-weight: 500;
}

.form-checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.button-section {
  display: flex;
  justify-content: left;
}

.order-button {
  background-color: #133E87;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 80px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: #0d3170;
}

.right-panel {
  width: 50%;
  position: relative;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}