:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #133E87;
  height: 64px;
}

mat-toolbar button {
  background-color: #608BC1;
  color: white;
}

.app-title {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
}

.hamburger {
  color: white;
  font-size: 36px;
  width: auto;
  height: auto;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  margin: 5px 20px 5px 5px;
}


