<form class="rating-form">
  <div>
    <div>Rate Vehicle</div>
    <div class="stars">
      <input type="radio" id="vehicle5" name="vehicle" value="5"><label for="vehicle5">&#9733;</label>
      <input type="radio" id="vehicle4" name="vehicle" value="4"><label for="vehicle4">&#9733;</label>
      <input type="radio" id="vehicle3" name="vehicle" value="3"><label for="vehicle3">&#9733;</label>
      <input type="radio" id="vehicle2" name="vehicle" value="2"><label for="vehicle2">&#9733;</label>
      <input type="radio" id="vehicle1" name="vehicle" value="1"><label for="vehicle1">&#9733;</label>
    </div>
  </div>
  <div>
    <div>Rate Driver</div>
    <div class="stars">
      <input type="radio" id="driver5" name="driver" value="5"><label for="driver5">&#9733;</label>
      <input type="radio" id="driver4" name="driver" value="4"><label for="driver4">&#9733;</label>
      <input type="radio" id="driver3" name="driver" value="3"><label for="driver3">&#9733;</label>
      <input type="radio" id="driver2" name="driver" value="2"><label for="driver2">&#9733;</label>
      <input type="radio" id="driver1" name="driver" value="1"><label for="driver1">&#9733;</label>
    </div>
  </div>
  <div>
    <label for="comment">Leave a comment</label>
    <textarea id="comment" placeholder="Write your comment here..."></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
