:host {
  display: block;
  min-height: 100vh;
  background-color: #8FABD4;
  padding-top: 40px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.rating-form {
  background: #CBDCEB;
  border-radius: 12px;
  padding: 24px;
  width: 320px;
  box-shadow: 0 2px 8px #0001;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 140px;
  border: 2px solid #133E87
}
.stars {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  color: #444;
  cursor: pointer;
  width: max-content;
  margin: 10px 0px;
}
.stars input {
  display: none;
}
.stars label {
  color: #bbb;
  font-size: 2.5em;
  cursor: pointer;
  transition: color 0.2s;
  order: 0;
}
.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
  color: #1a237e;
}
textarea {
  width: 100%;
  min-height: 80px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  resize: vertical;
  font-family: inherit;
  height: 200px;
}
button {
  background: #133E87;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}
