mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #024aa8;
}

.app-title {
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
}
