<div class="ride-history-page">

  <div class="filter-containter">
  <form [formGroup]="searchRideForm" (ngSubmit)="searchRides()" class="filter-form">
    <mat-form-field appearance="fill" class="date-picker-field">
      <mat-label>Filter by date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="warn" type="button" (click)="resetFilter()">Reset</button>
      <button mat-raised-button color="primary" type="submit">Apply</button>
    </div>
  </form>
  </div>


  <div class="list">
  @for(ride of rides(); track ride.id){
    <div class="item" [routerLink]="['/driver/rides', ride.id]">
      <p class="card-date"> <b>{{ride.startingTime | date:'dd.MM.yyyy'}}</b></p>
      <h2>
        <img class="pin-icon" src="/map-pin.svg" alt="Pin icon">
        <span> {{ getRideSummary(ride.startPoint) }} </span>
      </h2>
      <h2>
        <img class="flag-icon" src="/finish-flag.svg" alt="Destination flag">
        <span class="location-text">{{ getRideSummary(ride.endPoint) }}</span>
      </h2>

      <p> <span class="card-time">Start time: </span> {{ride.startingTime | date:'HH:mm'}}</p>
      <p> <span class="card-time">End time: </span> {{ride.finishedTime | date:'HH:mm'}}</p>
      <h1 class="card-price">{{ride.price}}rsd</h1>

    </div>
  }
</div>

  <mat-paginator id="paginator"
    [length]="totalElements()"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>

</div>





