:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #133E87;
}

mat-toolbar button {
  background-color: #608BC1;
  color: white;
}

.app-title {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
}

.hamburger {
  color: white;
  font-size: 36px;
  width: auto;
  height: auto;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  margin: 5px 20px 5px 5px;
}

.no-bg {
  background: none !important;
  margin-right: 30px;
  height: 60px;
  margin-left: -20px;
}

mat-toolbar span{
  color: white;
}

.profile-icon{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: 10px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 8px;
}
