<mat-toolbar>
  <!--  <mat-icon class="hamburger"> menu </mat-icon>-->

  <button mat-icon-button [matMenuTriggerFor]="menu" disableRipple class="no-bg">
    <mat-icon class="hamburger">menu</mat-icon>
  </button>

  <span [routerLink]="['/home']" class="app-title">GetGo</span>
  <span class="spacer"></span>
<!--  <button mat-raised-button [routerLink]="['/ride']" >Ride</button>-->
  <span>Admin123</span>
  <img class="profile-icon" src="/Profile.svg" alt="Profile icon">
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item [routerLink]="['/ride']">
    <mat-icon>directions_car</mat-icon>
    <span>Ride</span>
  </button>

  <button mat-menu-item [routerLink]="['/login']">
    <mat-icon>person</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
