<mat-toolbar>
  <!--  <mat-icon class="hamburger"> menu </mat-icon>-->

  <button mat-icon-button [matMenuTriggerFor]="menu" disableRipple class="no-bg">
    <mat-icon class="hamburger">menu</mat-icon>
  </button>

  <span [routerLink]="['/admin/admin-home']" class="app-title">GetGo</span>
  <span class="spacer"></span>
<!--  <button mat-raised-button [routerLink]="['/ride']" >Ride</button>-->
  <span>{{ fullName }}</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/admin/admin-home']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/admin-ride-history']">
    <mat-icon>directions_car</mat-icon>
    <span>Ride history</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/admin-profile']">
    <mat-icon>edit</mat-icon>
    <span>Profile data</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/driver-registration']">
    <mat-icon>edit</mat-icon>
    <span>Register Driver</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/review-driver-requests']">
    <mat-icon>edit</mat-icon>
    <span>Review Driver Requests</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/block-users']">
    <mat-icon>edit</mat-icon>
    <span>Block Users</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/active-rides']">
    <mat-icon>directions_car</mat-icon>
    <span>Active rides</span>
  </button>

  <button mat-menu-item [routerLink]="['/admin/support-chat']">
    <mat-icon>chat</mat-icon>
    <span>Support Chat</span>
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>person</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
