:host {
  display: block;
  min-height: 100vh;
  background-color: #8FABD4;
  padding-top: 40px;
}

.chat-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.message.user {
  margin-left: auto;
  background-color: #dcf8c6;
}

.message.admin {
  margin-right: auto;
  background-color: #f1f1f1;
}

.time {
  font-size: 10px;
  text-align: right;
  color: #666;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
}

button {
  padding: 10px 15px;
}
