<div class="messages">
  <div
    *ngFor="let msg of chat.messages() ?? []"
    class="message"
    [class.user]="msg.senderType !== 'ADMIN'"
    [class.admin]="msg.senderType === 'ADMIN'"
  >
    {{ msg.text }}
    <div class="time">{{ msg.timestamp | date:'shortTime' }}</div>
  </div>
</div>

<div class="input-area">
  <input
    type="text"
    [value]="newMessage()"
    (input)="newMessage.set($any($event.target).value)"
    placeholder="Type a message..."
  />
  <button (click)="send()">Send</button>
</div>
