:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background-color: #8FABD4;
}

/* MAIN CHAT BOX */
.chat-container {
  width: 80%;
  height: 550px;
  background-color: #e5efff;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HEADER */
.chat-header {
  padding: 14px;
  background-color: #133E87;
  color: white;
  display: flex;
  align-items: center;
}

.admin-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: white;
  color: #133E87;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.subtitle {
  font-size: 12px;
  opacity: 0.8;
}

/* MESSAGES */
.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #dbe8ff;
}

/* MESSAGE ALIGN */
.message {
  display: flex;
}

.message.user {
  justify-content: flex-end;
}

.message.admin {
  justify-content: flex-start;
}

/* BUBBLE */
.bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.message.user .bubble {
  background-color: #133E87;
  color: white;
  border-bottom-right-radius: 6px;
}

.message.admin .bubble {
  background-color: white;
  color: #333;
  border-bottom-left-radius: 6px;
}

.time {
  font-size: 10px;
  align-self: flex-end;
  margin-top: 4px;
  opacity: 0.6;
}

/* INPUT */
.input-area {
  padding: 12px;
  display: flex;
  gap: 10px;
  background-color: #CBDCEB;
}

.input-area input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input-area button {
  padding: 0 18px;
  border-radius: 20px;
  border: none;
  background-color: #133E87;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
