<div class="main-container">

  <div class="ride-status">
    <h2>On my way</h2>
    <div class="ride-info-box">
      <div class="ride-address">
        <span class="icon">&#128205;</span> Zlatne grede 4
      </div>
      <div class="ride-address">
        <span class="icon">&#128205;</span> Trg Dositeja Obradovića 6
      </div>
      <div class="ride-progress">
        <div>
          <p class="progress-label">Your progress</p>
          <span class="progress-value">42% to complete</span>
          <span class="ride-time">39min</span>
        </div>
        <div class="progress-bar-bg">
          <div class="progress-bar-fg" style="width: 42%;"></div>
        </div>
      </div>
    </div>
    <button class="report-route-btn" (click)="showReportForm = true">Report route</button>
    <div *ngIf="showReportForm" class="report-form">
      <label for="reportText">Describe the issue:</label>
      <textarea id="reportText" [(ngModel)]="reportText" placeholder="Enter your note..."></textarea>
      <button (click)="submitReport()">Submit</button>
      <button class="cancel-btn" (click)="showReportForm = false">Cancel</button>
    </div>
    <button class="panic-btn">PANIC</button>
  </div>

  <div class="map-container">
    <app-map></app-map>
  </div>
</div>
