<mat-toolbar>
  <!--  <mat-icon class="hamburger"> menu </mat-icon>-->

  <button mat-icon-button [matMenuTriggerFor]="menu" disableRipple class="no-bg">
    <mat-icon class="hamburger">menu</mat-icon>
  </button>

  <span [routerLink]="['/home']" class="app-title">GetGo</span>
  <span class="spacer"></span>
<!--  <button mat-raised-button [routerLink]="['/ride']" >Ride</button>-->
  <span>User123</span>
<!--  <h2><img class="account-icon" src="/finish-flag.svg" alt="Destination flag"></h2>-->
  <img class="profile-icon" src="/Profile.svg" alt="Profile icon">
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item [routerLink]="['/ride']">
    <mat-icon>directions_car</mat-icon>
    <span>Ride history</span>
  </button>

  <button mat-menu-item [routerLink]="['/passenger/passenger-profile']">
    <mat-icon>edit</mat-icon>
    <span>Profile data</span>
  </button>

  <button mat-menu-item [routerLink]="['/passenger/rating-vehicle-driver']">
    <mat-icon>star</mat-icon>
    <span>Rate ride</span>
  </button>

  <button mat-menu-item [routerLink]="['/passenger/ride-tracking']">
    <mat-icon>navigation</mat-icon>
    <span>Ride tracking</span>
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>person</mat-icon>
    <span>Log out</span>
  </button>

</mat-menu>
