<app-user-nav-bar></app-user-nav-bar>
<div class="user-info">
    <p class="profile-title">Edit Personal Information</p>
    <div class="profile-picture">
        <img [src]="profileImageUrl" alt="Profile Picture" class="avatar-image" (click)="onImageClick()" />
        <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
    </div>
    
    <div class="tabs-container">
        <button class="tab-button" [class.active]="activeTab === 'driver'" (click)="setActiveTab('driver')">Driver</button>
        <button class="tab-button" [class.active]="activeTab === 'vehicle'" (click)="setActiveTab('vehicle')">Vehicle</button>
        <div class="hours-display">Recent Hours Active: 6.4h</div>
    </div>

    @if (activeTab === 'driver') {
      <form class="profile-form">
        <input type="email" placeholder="E-mail" class="form-input" [(ngModel)]="driverData.email" name="email" />
        <input type="text" placeholder="First Name" class="form-input" [(ngModel)]="driverData.firstName" name="firstName" />
        <input type="text" placeholder="Last Name" class="form-input" [(ngModel)]="driverData.lastName" name="lastName" />
        <input type="tel" placeholder="Phone" class="form-input" [(ngModel)]="driverData.phone" name="phone" />
        <input type="text" placeholder="Address" class="form-input" [(ngModel)]="driverData.address" name="address" />
        
        <a href="#" class="change-password-link">Change Password</a>
        
        <button type="button" class="save-button" (click)="onSave()">Save</button>
      </form>
    }

    @if (activeTab === 'vehicle') {
      <form class="profile-form">
        <input type="text" placeholder="Vehicle Model" class="form-input" [(ngModel)]="vehicleData.model" name="model" />
        <input type="text" placeholder="Vehicle Type" class="form-input" [(ngModel)]="vehicleData.type" name="type" />
        <input type="text" placeholder="Registration Number" class="form-input" [(ngModel)]="vehicleData.registrationNumber" name="registrationNumber" />
        <input type="number" placeholder="Number of Seats" class="form-input" [(ngModel)]="vehicleData.seats" name="seats" />
        
        <div class="checkbox-container">
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox-input" [(ngModel)]="vehicleData.allowsBabies" name="allowsBabies" />
            <span>Allows Babies</span>
          </label>
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox-input" [(ngModel)]="vehicleData.allowsPets" name="allowsPets" />
            <span>Allows Pets</span>
          </label>
        </div>
        
        <button type="button" class="save-button" (click)="onSave()">Save</button>
      </form>
    }
</div>